In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [13]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows,n_cols)), columns=cols)
df

    A   B   C   D   E
0  15   3  11   9   2
1  12  10   5  18   3
2  11  15  13   9  16
3   1   1  17  13   1
4   5  17   3   7   6

Akses nilai variabel pada query()

In [17]:
df.query('A > 4') # seleksi baris, akan ditampilkan nilai A > 4

    A   B   C   D   E
0  15   3  11   9   2
1  12  10   5  18   3
2  11  15  13   9  16
4   5  17   3   7   6

In [18]:
rerata = df['A'].mean()
rerata

8.8

In [19]:
df.query('A > @rerata')
# untuk mengakses variable menggunakan @

    A   B   C   D   E
0  15   3  11   9   2
1  12  10   5  18   3
2  11  15  13   9  16