Tipe data ordinal
Bagian dari tipe data kategori :
- tipe data nominal =  sifatnya murni sebagai label
- tipe data ordinal = memiliki tingkatan, seperti : buruk, cukup, baik, sangat baik.

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [2]:
d = {'pelanggan' : [11, 12, 13, 14],'kepuasan' : ['baik','cukup','buruk','cukup']}

df = pd.DataFrame(d)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [3]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk','cukup','baik','sangat baik'], ordered=True)

#pada variable tingkat_kepuasan tipe data yang sudah didefinisikan sebagai tipe data ordinal

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [4]:
df = df.sort_values('kepuasan', ascending = True)
df

   pelanggan kepuasan
2         13    buruk
1         12    cukup
3         14    cukup
0         11     baik

In [6]:
df[df['kepuasan'] >= 'cukup']

   pelanggan kepuasan
1         12    cukup
3         14    cukup
0         11     baik